/* 1200px */
@media only screen and (max-width: 1200px) {
    .my-masonry-grid {
        width: 90%;
    }
}

/* 800px */
@media only screen and (max-width: 800px) {
    .fullWidth {
        padding: 0;
        margin: 0;
    }

    .my-masonry-grid_column > a:hover {
        transform: scale(1);
    }
}

/* 600px */
@media only screen and (max-width: 600px) {
}

/* 450px */
@media only screen and (max-width: 450px) {
}
